<!DOCTYPE html>
<html lang="rus">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{.title}}</title>
  <link rel="stylesheet" href="/css/move.css" />
</head>
<body>
<div class="space">
  <div class="header">
    <button class="home-button" onclick="window.location.href = 'http://localhost:8080/home';"></button>
    <p>EVOLUTION<p>
  </div>


  <div class="card-detailed-container">
    <div class="feed-selection">
      <select id="food-select" class="food-dropdown">
        {{range .options}}
          <option value="{{.Value}}">{{.Label}}</option>
        {{end}}
      </select>

      <select id="game-select" class="game-dropdown">
        {{range .stage}}
        <option value="{{.Value}}">{{.Label}}</option>
        {{end}}
      </select>
      <form action="/move/{{.move_id}}" method="post">
        <input type="hidden" name="delete" value="{{.move_id}}">
        <button class="card-button" onclick="window.location.href = 'http://localhost:8080/home';">Удалить</button>
      </form>
      <p class="food_info">Корм</p>
    </div>
    {{range .cards_data}}
      <div class="card-detailed">
        <img src="{{.Card.ImageUrl}}" class="card-image" alt="Card Image">
        <div class="card-info">
          <h1 class="title-en">{{.Card.TitleEn}}</h1>
          <div class="multiplier-info">
            <h2 class="title-ru">{{.Card.TitleRu}}</h2>
            <h3 class="multiplier">{{.Card.Multiplier}}</h3>
          </div>
          <p class="description">{{.Card.Description}}</p>
        </div>
        <div class="circle-number">{{.Food}}</div>
      </div>
    {{end}}
  </div>
</div>
</body>
</html>